

.work {
	padding-top: 109px;
	padding-bottom: 75px;

	background: #66cfcf;

	& .center {
		padding: 0 45px 0 60px;
		display: flex;
		justify-content: space-between;
	}


	&__left-side {
		padding-top: 46px;
		width: 44.0972222222222%;
		// margin-right: 40px;
	}

	&__title {
		margin-bottom: 64px;

		font-family: @maven-black-font;
		font-size: 5.4vw;
		line-height: 1.25;
		font-weight: 900;
		color: #ffffff;

		@media only screen and (max-width: 750px) {
			font-size: 45px;
		}
	}

	&__button {
		padding: 14px 45px 15px;

		border: 2px solid #ffffff;
		border-radius: 6px;
	}

}



.work {

	&__info-wr {
		width: 100%;
		max-width: 700px;
	}

	&__info {
		margin: 0 auto;
		max-width: 300px;

		display: flex;
		flex-direction: column;
	}

	.info {

		&__item {
			position: relative;

			margin-bottom: 75px;
			max-width: 245px;
			display: block;
		}

		&__item:nth-child(2n) {

			align-self: flex-end;

			text-align: right;
		}

		&__item:nth-child(odd)::after {

			content:'';
			position: absolute;
			left: 235px;
			top: 9px;

			display: block;
			width: 256px;
			height: 192px;

			background: url('../img/work/arrow-right.png') 0 0 no-repeat;
			

		}

		&__item:nth-child(2)::after {

			content:'';
			position: absolute;
			right:240px;
			top: 15px;

			display: block;
			width: 256px;
			height: 192px;

			background: url('../img/work/arrow-left.png') 0 0 no-repeat;
			background-size: cover;
		}




		 &__item:nth-child(2) {
			margin-bottom: 35px;
		} 

		&__item::before {
			content: '';
			position: absolute;

			display: block;
			width: 60px;
			height: 60px;

		}


		&__item:nth-child(1)::before {
			left: -80px;
			top: -15px;

			background: url('../img/work/icon1.png') center no-repeat;
		}

		&__item:nth-child(2)::before {
			right: -80px;
			top: -15px;
			background: url('../img/work/icon2.png') center no-repeat;
		}

		&__item:nth-child(3)::before {
			left: -80px;
			top: -15px;

			background: url('../img/work/icon3.png') center no-repeat;
		}

		&__item:nth-child(4)::before {
			right: -80px;
			top: -15px;

			background: url('../img/work/icon4.png') center no-repeat;
		}

		&__title {
			display: block;
			margin-bottom: 8px;

			font-family: @maven-bold-font;
			font-size: 22px;
			line-height: 1.18;
			font-weight: bold;
			color: #ffffff;
		}

		&__desc {
			max-width: 245px;

			font-family: @maven-font;
			line-height: 1.38;
			color: #ffffff;
		}
	}


}











